* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Muli", sans-serif;
}

.header {
    display: flex;
}

.container {
    max-width: 90%;
}

.contact {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact,
.mail {
    display: flex;
}

.phone {
    display: flex;
    margin-right: 25px;
}

.phone a,
.mail a {
    font-size: 14px;
    margin-left: 10px;
    color: #4b4b4b;
}

.mail i {
    margin-top: 3px;
}

a {
    margin-bottom: 0rem;
}

.discount p {
    text-align: center;
    font-size: 14px;
    color: #4b4b4b;
    margin: 0;
    margin-top: 10px;
}

.discount span {
    color: #D83E45;
}

.checkout {
    text-align: center;
    margin-top: 10px;
}

.checkout a {
    margin-left: 10px;
    font-size: 14px;
    color: #636363;
    margin-right: 20px;
}

.main {
    margin-top: 10px;
}

.style-1 {
    margin-top: 0;
    margin-bottom: 0;
}

.logo img {
    width: 100%;
    margin-top: 5px;
}

.navbar {
    background: #212121!important;
    margin-top: 10px;
}

.nav-link {
    color: #fff!important;
    font-weight: 200;
}

a.nav-link:hover {
    background: #2A6AD0;
    cursor: default;
}

.nav-item i {
    color: #fff;
    margin-top: 12px;
    font-size: 15px;
}

.search-box {
    position: absolute;
    top: 0%;
    right: 13%;
    width: 70%;
    height: 60px;
    line-height: 60px;
    display: none;
}

.search-box input[type="text"] {
    padding: 5px 10px;
    margin-left: 23px;
    outline: none;
    height: 100%;
    width: 100%;
    border: navajowhite;
}

.search-box input[type="button"] {
    width: 80px;
    padding: 5px 0;
    background: #D80B15;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #D80B15;
    outline: none;
    cursor: pointer;
}

.button {
    margin-top: 10px;
}

.become {
    background: #2a6ad0;
    color: #ffffff;
    border: none;
    padding: 11px 7px 12px 4px;
    font-weight: 450;
    width: 100%;
    line-height: 28px;
    border-radius: 8px;
    font-size: 13px;
}

.become:hover {
    font-weight: bold;
    cursor: default;
}

.become span {
    font-size: 15px;
}

.become p {
    margin-top: 15px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 450;
    height: 37px;
}

.slider img {
    width: 100%;
}

.slideshow-container {
    position: relative;
}

.slider-content h5 {
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 41%;
    left: 39%;
    font-weight: bold;
}

.slider-content p {
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 51%;
    left: 29%;
    font-weight: 300;
}

a.carousel-control-next.next {
    right: 2%;
}

a.carousel-control-prev.prev {
    left: 0%;
    color: #a4a4a4;
    width: 6%;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 52%;
    margin: 5px;
}

.click {
    position: absolute;
    top: 87%;
    left: 46%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background: none;
    border: 1px solid #4b4b4b;
}

.style-hr-1 {
    margin: 10px auto;
    width: 10%;
    border: 1px solid black;
}

.style-hr-2 {
    margin: 10px auto;
    width: 5%;
    border: 1px solid black;
}

.title {
    margin-top: 40px;
    color: #212121;
}

.title h4 a,
.content-2 a,
.testimonials a,
.title-featured-product a,
.content a {
    text-decoration: none;
    cursor: default;
}

.title h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #212121;
}

.title p {
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    width: 65%;
    margin-bottom: 25px;
    font-weight: 230;
}

.content img {
    width: 100%;
}

.row:nth-last-child(3) {
    float: right;
}

.content {
    position: relative;
}

.btn {
    position: absolute;
    bottom: 48%;
    left: 15%;
    padding: 10px 9px 10px 9px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
}

.title-featured-product {
    margin-bottom: 30px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    cursor: default;
    border: none;
    font-weight: 500;
}

.Featured-Product {
    background-color: #fbfbfb;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.thumb-wrapper {
    position: relative;
}

.thumb-wrapper button {
    position: absolute;
    top: 40%;
    left: 25%;
    border: 1px solid #fff;
    border-radius: 4%;
    background: none;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    cursor: default;
    border-radius: 8px;
}

.btn {
    border-radius: 8px;
}

.hover:hover {
    cursor: default;
    font-weight: 300;
    background-color: rgb(255, 255, 255);
    color: #000;
}

.title-featured-product h4 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #212121;
    padding-top: 20px;
}

.mr {
    margin: 0 auto;
    width: 90%;
}

.carousel-control-prev {
    left: -6%;
    color: #a4a4a4;
    width: 6%;
}

.carousel-control-next {
    right: -3%;
    color: #a4a4a4;
    width: 2%;
}

.carousel-control-prev i,
.carousel-control-next i {
    padding: 7px 10px 7px 10px;
    color: black;
}

.thumb-wrapper p {
    font-size: 14px;
    color: #212121;
    margin-top: 15px;
    font-weight: 700;
    text-align: center;
}

.cta img,
.cta-2 img {
    width: 100%;
}

.cta,
.cta-2 {
    margin-top: 30px;
    position: relative;
}

.cta-group p {
    position: absolute;
    top: 19%;
    left: 36%;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
}

.cta-group .style-hr-3 {
    position: absolute;
    top: 30%;
    left: 48%;
    border: 1px solid #ffffff;
    width: 5%;
}

.cta-group span {
    position: absolute;
    top: 43%;
    left: 30%;
    font-size: 16px;
    color: #ffffff;
    font-weight: 300;
}

.cta-group .btn {
    position: absolute;
    top: 67%;
    left: 43%;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    font-weight: 500;
    height: 16%;
}

.cta-group a:hover {
    cursor: default;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #000;
}

.content-2 img {
    width: 100%;
}

.content-2 .btn:hover {
    cursor: default;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #000;
}

.quanlity,
.inspiration {
    background-color: #212121;
    position: relative;
    height: 50%;
}

.quanlity h4,
.inspiration h4 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    padding-top: 30px;
}

.quanlity p,
.inspiration p {
    text-align: center;
    font-weight: 150;
    font-size: 14px;
    color: #ffffff;
    width: 70%;
    margin: 0 auto;
}

.quanlity .btn {
    position: absolute;
    top: 60%;
    left: 31%;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    font-weight: 500;
    height: 25%;
}

.inspiration .btn {
    position: absolute;
    top: 60%;
    left: 35%;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    font-weight: 500;
    height: 25%;
}

.title-2 {
    margin-top: 40px;
    color: #212121;
}

.title-2 h4,
.testimonials h4 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #212121;
}

.testimonials .row {
    margin-left: 0;
}

.title-2 p {
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    width: 42%;
    margin-bottom: 25px;
    font-weight: 230;
}

.testimonials {
    margin-top: 150px;
}

.avatar {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.testimonials p {
    margin: 0 auto;
    width: 75%;
    font-size: 16px;
    text-align: center;
}

.testimonials h5 {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
}

.testimonials h6 {
    text-align: center;
    margin-top: 10px;
    color: #b5bfc6;
    padding-bottom: 30px;
}

.row .pd {
    position: relative;
}

.w3-left {
    position: absolute;
    top: 41%;
    left: 4%;
}

.w3-right {
    position: absolute;
    top: 41%;
    right: 4%;
}

.col-xl-2 p {
    position: absolute;
    top: 43%;
    left: 24%;
    font-size: 15px;
    width: 39%;
}

.w3-display-left h6 {
    position: absolute;
    top: 50%;
    left: 4%;
}

.col-xl-2 h6 {
    position: absolute;
    top: 47%;
    left: 28%;
    font-size: 14px
}

.w3-content.w3-section {
    background-color: #fbfbfb;
}

.w3-left,
.w3-right {
    border: none;
    color: #c2d1d9;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.cta-group-2 p {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 17%;
    left: 41%;
    color: #ffffff;
}

.cta-group-2 .style-hr-3 {
    position: absolute;
    top: 27%;
    left: 47%;
    border: 1px solid #ffffff;
    width: 6%;
}

.cta-group-2 span {
    font-size: 14px;
    font-weight: 200;
    position: absolute;
    top: 45%;
    left: 23%;
    color: #ffffff;
}

.cta-group-2 .btn {
    position: absolute;
    top: 67%;
    left: 42%;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 10px 40px 10px 30px;
    font-weight: 500;
    height: 16%;
}

.cta-2 .btn:hover {
    cursor: default;
    background-color: rgb(255, 255, 255);
    color: #000;
}

.title-featured-product p {
    margin: 0 auto;
    width: 48%;
    font-size: 16px;
    text-align: center;
}

.fl {
    margin-top: 40px;
    float: right;
    line-height: 118px;
    padding-bottom: 40px;
}

.pd img {
    width: 100%;
    text-align: center;
}

.Featured-brands {
    background-color: #fbfbfb;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.Featured-brands a {
    text-decoration: none;
}

.pb img {
    padding-bottom: 21px;
}

.title-featured-brands h4 {
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #212121;
}

.title-featured-brands p {
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
    width: 42%;
    margin: 0 auto;
}

.footer {
    margin-top: 150px;
    background-color: #212121;
    padding-bottom: 50px;
}

.title-footer h5 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 40px;
    margin-bottom: 35px;
}

.footer a {
    color: #ffffff;
}

.title-footer h5:hover {
    cursor: default;
    color: red;
    font-weight: bold;
}

.list-group li {
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 7px;
}

.icon-location,
.icon-mail,
.icon-phone {
    display: flex;
}

.icon-location i,
.icon-mail i,
.icon-phone i {
    margin-right: 10px;
    margin-top: 5px;
}

.icon-mail {
    display: block;
}

.pb {
    padding-left: 25px;
}

.title-newsletter {
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    padding-top: 36px;
    margin-bottom: 35px;
}

.title-newsletter:hover {
    cursor: default;
    color: red;
    font-weight: bold;
}

form {
    position: relative;
}

form input {
    width: 100%;
    background-color: #f6f6f6;
    height: 40px;
    border: none;
    padding-left: 20px;
    font-size: 14px;
}

form i {
    position: absolute;
    top: 25%;
    left: 91%;
    color: #b4b4b4;
}

.icon-social {
    width: 100%;
}

.icon-social li {
    list-style: none;
    display: inline-block;
    width: 15%;
    color: white;
    margin-top: 20px;
}

.icon-social li i:hover {
    color: red;
    cursor: default;
}

.title-2 p {
    font-size: 14px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
    .header,
    .style-1 {
        display: none;
    }
    .none-mobile {
        display: none;
    }
    .intrinsic-img {
        padding: 0px 0px 0px 45px;
    }
    .mySlides img {
        margin-top: 10px;
    }
    .logo {
        margin-top: 10px;
    }
    .block-location-one {
        position: relative;
    }
    .location2 img {
        position: absolute;
        top: 2%;
        right: -16%;
    }
    .col-logo {
        text-align: left;
    }
    .button {
        display: none;
    }
    .logo img {
        width: 35%;
    }
    .navbar {
        padding: 0rem 0rem;
    }
    .navbar {
        background: none!important;
        margin-top: -40px;
    }
    .navbar-toggler {
        position: absolute;
        right: 0;
        top: -48px;
        font-size: 15px;
    }
    .collapse {
        background-color: #212121;
    }
    .main {
        margin-top: 42px;
        margin-bottom: 10px;
    }
    .navbar-toggler {
        color: red;
    }
    .nav-link {
        margin-left: 10px;
    }
    .nav-item:hover {
        color: red!important;
        font-weight: bold;
        background: #2a6ad0;
        cursor: default;
    }
    .nav-link {
        color: #fff!important;
    }
    .search-box {
        position: absolute;
        top: 85%;
        right: 6%;
        width: 86%;
        height: 40px;
    }
    .search {
        margin-left: 10px;
    }
    .title p {
        font-size: 12px;
    }
    .slider-content h5 {
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 36%;
        left: 32%;
    }
    .slider-content p {
        font-size: 10px;
        position: absolute;
        top: 51%;
        left: 13%;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
    }
    .carousel-control-next-icon {
        width: 15px;
        height: 15px;
    }
    .content img {
        margin-bottom: 10px;
    }
    .content .btn {
        position: absolute;
        top: 50%;
        left: 15%;
        width: 65%;
        font-size: 50%;
        height: 8%;
    }
    .click {
        left: 44%;
    }
    .img-box {
        width: 265px;
        margin: 0 auto;
    }
    .hover-title {
        position: absolute;
        top: 47%;
        left: 13%;
        padding: 7px 1px 31px 15px;
        font-weight: 500;
        font-size: 12px;
    }
    .style-hr-2 {
        margin: 10px auto;
        width: 10%;
        border: 1px solid black;
    }
    .col-6 img {
        width: 100%;
    }
    .none {
        display: none;
    }
    .hover {
        display: none;
    }
    .Featured-Product {
        padding-top: 0;
    }
    .thumb-wrapper button {
        position: absolute;
        top: 40%;
        left: 25%;
        border: 1px solid #fff;
        border-radius: 4%;
        background: none;
        color: #ffffff;
        padding: 10px 20px 10px 20px;
        cursor: default;
    }
    .hover:hover {
        cursor: default;
        font-weight: 300;
        background-color: rgb(255, 255, 255);
        color: #000;
    }
    .none-mobie {
        display: none;
    }
    .carousel-control-prev {
        left: -6%;
    }
    .testimonials {
        margin-top: 100px;
    }
    .carousel-control-prev {
        left: -8%;
        color: #a4a4a4;
        width: 10%;
    }
    .carousel-control-next {
        right: -2%;
        color: #a4a4a4;
        width: 6%;
    }
    .thumb-wrapper p {
        font-size: 13px;
    }
    .cta img {
        height: 160px;
    }
    .cta-group .style-hr-3 {
        position: absolute;
        top: 11%;
        left: 45%;
        border: 1px solid #ffffff;
        width: 11%;
        margin-top: 23px;
    }
    .cta-group p {
        position: absolute;
        top: 10%;
        left: 20%;
        font-size: 13px;
    }
    .cta-group span {
        position: absolute;
        top: 24%;
        left: 8%;
        font-size: 13px;
        margin-top: 20px;
        text-align: center;
    }
    .cta-group .btn {
        position: absolute;
        top: 45%;
        left: 22%;
        margin-top: 30px;
        height: 29%;
    }
    .pd {
        margin-bottom: 35px;
    }
    .quanlity,
    .inspiration {
        padding-bottom: 70px;
    }
    .quanlity h4,
    .inspiration h4 {
        font-size: 16px;
        padding-top: 10px;
    }
    .quanlity p,
    .inspiration p {
        font-size: 14px;
    }
    .quanlity .btn {
        top: 71%;
        left: 22%;
        height: 28%;
        font-size: 12px;
    }
    .inspiration .btn {
        position: absolute;
        top: 64%;
        left: 20%;
        height: 28%;
        margin-top: 10px;
        font-size: 12px;
    }
    .testimonials .col-2 p,
    .testimonials .col-2 h6 {
        display: none;
    }
    .testimonials h5,
    .testimonials h6 {
        display: none;
    }
    .testimonials h4 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
    }
    .testimonials p {
        font-size: 14px;
        text-align: center;
    }
    .cta-2 img {
        height: 160px;
    }
    .cta-group-2 .style-hr-3 {
        position: absolute;
        top: 11%;
        left: 44%;
        border: 1px solid #ffffff;
        width: 11%;
        margin-top: 23px;
    }
    .cta-group-2 p {
        position: absolute;
        top: 4%;
        left: 24%;
        color: #ffffff;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .cta-group-2 span {
        position: absolute;
        top: 24%;
        left: 3%;
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
    }
    .cta-group-2 .btn {
        position: absolute;
        top: 43%;
        left: 21%;
        margin-top: 30px;
        height: 30%;
    }
    .fl {
        float: none;
        padding-bottom: 0;
    }
    .pb img {
        padding-bottom: 0px;
    }
    .mr {
        margin: 0 auto;
        width: 90%;
    }
    .fl img {
        width: 100%;
    }
    .footer {
        margin-top: 20px;
    }
    .title-newsletter {
        text-align: center;
    }
    .footer h5 {
        font-family: Muli, sans-serif;
    }
    .icon-social {
        text-align: center;
    }
    .payment {
        text-align: center;
    }
    .payment img {
        padding-right: 10px;
        width: 14%;
    }
    .w3-left {
        position: absolute;
        top: 50%;
        left: 24%;
    }
    .w3-right {
        position: absolute;
        top: 46%;
        right: 13%;
    }
    .footer li,
    .list-group a {
        font-size: 13px;
    }
}

@media only screen and (min-width:576px) and (max-width: 767px) {
    .header,
    .style-1 {
        display: none;
    }
    .logo {
        text-align: left;
    }
    .logo img {
        width: 30%;
    }
    .none {
        display: none;
    }
    .navbar {
        background: #fff!important;
        margin-top: -40px;
    }
    .collapse {
        background-color: #212121;
    }
    .navbar-toggler {
        position: absolute;
        right: 0;
        top: -52px;
        font-size: 16px;
    }
    .search {
        margin-left: 0px;
    }
    .search-box input[type="text"] {
        background: #fff;
        color: black;
    }
    .search-box {
        position: absolute;
        top: 83%;
    }
    .nav-item i {
        font-size: 15px;
    }
    .main {
        margin-top: 42px;
    }
    .button {
        display: none;
    }
    .navbar-toggler {
        color: red;
    }
    .nav-link {
        color: #fff!important;
        margin-left: 20px;
    }
    .nav-item:hover {
        color: red!important;
        font-weight: bold;
        background: #2a6ad0;
        cursor: default;
    }
    .thumb-wrapper button {
        position: absolute;
        top: 35%;
        left: 24%;
        border: 1px solid #fff;
        border-radius: 4%;
        background: none;
        color: #ffffff;
        padding: 10px 20px 10px 20px;
        cursor: default;
        border-radius: 8px;
    }
    .img-box img {
        width: 100%;
    }
    .none {
        display: none;
    }
    .title p {
        font-size: 14px;
        margin: 0;
        width: 100%;
    }
    .content img {
        margin-bottom: 10px;
    }
    .slider-content h5 {
        font-size: 25px;
        top: 41%;
        left: 37%;
    }
    .slider-content p {
        font-size: 15px;
        top: 51%;
        left: 19%;
    }
    .btn {
        position: absolute;
        top: 41%;
        left: 20%;
    }
    .content .btn {
        top: 49%;
        left: 28%;
        font-size: 14px;
        height: 5%;
    }
    .style-hr-1 {
        margin: 10px auto;
        width: 15%;
        border: 1px solid black;
    }
    .col-6 img {
        width: 100%;
    }
    .cta img {
        height: 180px;
    }
    .cta-group p {
        position: absolute;
        top: 10%;
        left: 25%;
    }
    .cta-group .style-hr-3 {
        position: absolute;
        top: 25%;
        left: 54%;
        width: 10%;
    }
    .cta-group span {
        position: absolute;
        top: 43%;
        left: 14%;
        height: 22%;
    }
    .cta-group .btn {
        position: absolute;
        left: 37%;
        height: 25%;
        font-size: 14px;
    }
    .title-2 p {
        font-size: 16px;
        margin: 0;
        width: 100%;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .quanlity {
        background-color: #212121;
        position: relative;
        padding-bottom: 100px;
        height: 50%;
    }
    .inspiration {
        background-color: #212121;
        position: relative;
        padding-bottom: 50px;
        height: 50%;
    }
    .quanlity h4,
    .inspiration h4 {
        font-size: 16px;
        color: #ffffff;
        padding-top: 10px;
    }
    .quanlity p,
    .inspiration p {
        font-size: 12px;
        width: 100%;
        margin: 0;
        padding-bottom: 15px;
    }
    .quanlity .btn {
        position: absolute;
        left: 22%;
        padding: 10px 15px 5px 15px;
        font-size: 14px;
        height: 28%;
    }
    .inspiration .btn {
        position: absolute;
        left: 21%;
        padding: 10px 15px 5px 15px;
        font-size: 14px;
        height: 28%;
    }
    .testimonials {
        margin-top: 30px;
    }
    .testimonials .col-2 p,
    .testimonials .col-2 h6 {
        display: none;
    }
    .cta-2 img {
        height: 180px;
    }
    .cta-group-2 p {
        font-size: 18px;
        position: absolute;
        top: 10%;
        left: 38%;
    }
    .cta-group-2 .style-hr-3 {
        position: absolute;
        top: 23%;
        left: 45%;
        width: 10%;
    }
    .cta-group-2 span {
        font-size: 14px;
        position: absolute;
        top: 37%;
        left: 4%;
        text-align: center;
    }
    .cta-group-2 .btn {
        position: absolute;
        left: 36%;
        height: 25%;
    }
    .Featured-brands {
        padding-bottom: 0px;
    }
    .title-featured-brands h4 {
        margin-top: 10px;
        font-size: 18px;
    }
    .title-featured-brands p {
        margin: 0;
        width: 100%;
        font-size: 14px;
    }
    .fl {
        margin-top: 40px;
        float: none;
        line-height: 100px;
        padding-bottom: 40px;
        width: 100%;
    }
    .fl img {
        width: 100%;
    }
    .title-newsletter {
        text-align: center;
    }
    .footer {
        margin-top: 20px;
    }
    .icon-social {
        text-align: center;
    }
    .icon-social img {
        width: 20%;
    }
    .payment {
        text-align: center;
    }
    .payment img {
        width: 12%;
        padding: 7px 7px 2px 7px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .none-tablet {
        display: none;
    }
    .logo img {
        width: 150%;
    }
    .pb img {
        padding-bottom: 0px;
    }
    .contact,
    .mail {
        display: contents;
    }
    .checkout {
        display: flex;
    }
    .checkout a {
        font-size: 13px;
        margin-right: 0px;
    }
    .img-box img {
        width: 100%;
        height: 100%;
    }
    .become {
        display: none;
    }
    .collapse {
        background-color: #212121;
        margin-top: 18px;
    }
    .navbar {
        background: none!important;
        margin-top: -40px;
    }
    ul.navbar-nav.mr-auto {
        margin-top: 20px;
    }
    .nav-item:hover {
        color: red!important;
        font-weight: bold;
        background: #2a6ad0;
        cursor: default;
    }
    .search {
        margin-left: 0px;
    }
    .search-box {
        top: 85%;
        right: 5%;
        width: 85%;
        height: 41px;
    }
    .navbar-toggler {
        position: absolute;
        right: 0;
        top: -48px;
        font-size: 15px;
        color: red;
        margin-top: 30px;
    }
    .logo img {
        width: 30%;
    }
    .nav-link {
        color: #fff!important;
        margin-left: 10px;
    }
    .phone {
        margin-right: 10px;
    }
    .phone p,
    .mail p {
        margin-left: 5px;
    }
    .phone i,
    .mail i {
        font-size: 13px;
        margin-top: 4px;
    }
    .slider-content h5 {
        font-size: 27px;
        top: 41%;
        left: 38%;
    }
    .slider-content p {
        font-size: 18px;
        top: 51%;
        left: 22%;
    }
    .btn {
        position: absolute;
        left: 12%;
        padding: 10px 5px 10px 5px;
        font-size: 10px;
        height: 12%;
    }
    .thumb-wrapper button {
        top: 40%;
        left: 11%;
        width: 74%;
    }
    .thumb-wrapper p {
        font-size: 12px;
        margin-top: 10px;
    }
    .cta-group p {
        position: absolute;
        top: 11%;
        left: 30%;
        font-size: 20px;
    }
    .cta-group .style-hr-3 {
        position: absolute;
        top: 23%;
        width: 8%;
    }
    .cta-group span {
        position: absolute;
        left: 19%;
        font-size: 16px;
    }
    .cta-group .btn {
        position: absolute;
        left: 38%;
        height: 25%;
        font-size: 14px;
    }
    .title-2 p {
        font-size: 14px;
        margin: 0 auto;
        width: 70%;
    }
    .quanlity h4,
    .inspiration h4 {
        font-size: 16px;
        color: #ffffff;
        padding-top: 10px;
    }
    .quanlity p,
    .inspiration p {
        font-size: 13px;
        width: 100%;
        margin: 0;
    }
    .quanlity,
    .inspiration {
        padding-bottom: 50px;
    }
    .quanlity .btn {
        left: 21%;
        padding: 14px 20px 5px 19px;
        height: 35%;
        font-size: 14px;
    }
    .inspiration .btn {
        left: 25%;
        top: 62%;
        padding: 14px 20px 5px 19px;
        height: 33%;
        font-size: 14px;
    }
    .testimonials {
        margin-top: 50px;
    }
    .testimonials .col-2 p,
    .testimonials .col-2 h6 {
        display: none;
    }
    .cta-group-2 p {
        position: absolute;
        top: 10%;
        left: 38%;
    }
    .cta-group-2 .style-hr-3 {
        position: absolute;
        top: 24%;
        left: 47%;
        width: 9%;
    }
    .cta-group-2 .btn {
        left: 42%;
        padding: 10px 20px 5px 19px;
        height: 24%;
        font-size: 15px;
    }
    .cta-group-2 span {
        left: 7%;
        font-size: 15px;
        text-align: center;
        top: 35%;
    }
    .Featured-brands {
        padding-top: 20px;
        padding-bottom: 50px;
        margin-top: 30px;
    }
    .title-featured-brands p {
        width: 75%;
    }
    .fl {
        margin-top: 55px;
        float: right;
        line-height: 100px;
        padding-bottom: 40px;
        width: 100%;
    }
    .fl img {
        width: 100%;
    }
    .title-newsletter {
        text-align: center;
    }
    .icon-social {
        text-align: center;
    }
    .payment {
        text-align: center;
    }
    .payment img {
        width: 10%;
        padding: 5px 5px 5px 5px;
    }
}

@media only screen and (min-width:992px) and (max-width:1200px) {
    .navbar-nav {
        width: 100%;
        flex-wrap: wrap;
    }
    .search i {
        right: 11px;
        position: absolute;
    }
    .pb img {
        padding-bottom: 0px;
    }
    .main-menu {
        margin-bottom: 10px;
    }
    .checkout a {
        margin-left: 6px;
    }
    .logo {
        text-align: center;
    }
    .become span {
        font-size: 12px;
    }
    .phone p,
    .mail p {
        font-size: 13px;
        margin-left: 3px;
    }
    .phone i,
    .mail i {
        font-size: 13px;
        margin-top: 4px;
    }
    .nav-link {
        padding-left: 0!important;
    }
    .nav-item {
        font-size: 11px;
    }
    .search {
        margin-left: 0px;
    }
    .search i {
        margin-left: 30px;
        line-height: 11px;
    }
    .search-box {
        top: -3%;
        right: 8%;
        width: 81%;
        height: 55px;
    }
    .become {
        font-size: 10px;
        padding: 16px 7px 10px 4px;
    }
    .become {
        line-height: 49px;
        padding: 0;
    }
    .btn {
        position: absolute;
        left: 18%;
        font-size: 11px;
    }
    .slider-content p {
        font-size: 18px;
        color: #fff;
        position: absolute;
        top: 52%;
        left: 26%;
        font-weight: 300;
    }
    .carousel-control-prev,
    .carousel-control-next {
        top: -15%;
    }
    .cta-group .style-hr-3 {
        position: absolute;
        left: 45%;
        width: 10%;
    }
    .cta-group p {
        position: absolute;
        top: 16%;
        left: 33%;
    }
    .thumb-wrapper button {
        top: 38%;
        left: 24%;
    }
    .cta-group span {
        left: 26%;
        font-size: 15px;
    }
    .cta-group .btn {
        position: absolute;
        left: 42%;
        height: 20%;
        font-size: 12px;
    }
    .quanlity,
    .inspiration {
        padding-bottom: 50px;
    }
    .quanlity h4,
    .inspiration h4 {
        font-size: 16px;
        padding-top: 10px;
    }
    .quanlity p,
    .inspiration p {
        font-size: 15px;
        width: 98%;
        margin: 0;
    }
    .quanlity .btn {
        left: 29%;
        font-size: 12px;
    }
    .inspiration .btn {
        left: 29%;
        font-size: 12px;
    }
    .testimonials {
        margin-top: 100px;
    }
    .testimonials .col-2 p,
    .testimonials .col-2 h6 {
        display: none;
    }
    .cta-group-2 p {
        top: 11%;
        left: 40%;
    }
    .cta-group-2 .style-hr-3 {
        width: 10%;
    }
    .cta-group-2 span {
        left: 18%;
    }
    .fl {
        margin-top: 55px;
        float: right;
        line-height: 100px;
        padding-bottom: 40px;
        width: 100%;
    }
    .title-newsletter {
        text-align: center;
    }
    .icon-social {
        text-align: center;
    }
    .payment {
        text-align: center;
    }
    .payment img {
        width: 10%;
        padding: 5px 5px 5px 5px;
    }
    .none-tablet {
        display: none;
    }
}

@media only screen and (min-width:1200px) {
    .logo img {
        width: 85%;
    }
    .img-box img {
        width: 100%;
    }
    .nav-item {
        font-size: 13px;
    }
    .become span {
        font-size: 11px;
    }
    .navbar-nav {
        flex-wrap: wrap;
        width: 100%;
    }
    .search i {
        right: 11px;
        position: absolute;
    }
    .main {
        margin-bottom: 10px;
    }
    .icon-social a {
        text-decoration: none;
    }
    .col-xl-2 p {
        left: 20%;
        width: 48%;
    }
}