html, body{
   width: 100%;
   overflow-x: hidden; 
   
}

/*contact top*/
.contact-top{
    background-color: white;
    border-bottom: 1px solid rgb(184, 182, 182);
}
.container-fluid .f-grid .f-grid-col{
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 17px;
    margin-left: 20px;
}
.phone{
    margin-right: 20px;
}

.f-grid-col a{
    color: black;
    font-size: 0.8rem;

}
.phone .fa-phone, .email .fa-envelope{
    margin-right: 5px;
}


/*Navigation Css*/

.navbar{
    white-space: nowrap; 

}
.navbar .navbar-nav{
    text-align: center;
    background-color: #0D1326 !important;
}

.navbar .nav-item .nav-link{
    color: white !important;
   padding: 15px;
}

.navbar .nav-item:hover{
    text-shadow: 1px 1px 10px white;
    transition: 0.5s;
}
.navbar img{
    width: 100%;
}

.navbar .btn-primary{
    background-color: rgb(42, 106, 208);
    font-size: 100%;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    margin-left: 15px;
    border-radius: 0px;

}
.navbar a.btn-primary {
    color: white;
}


/*Drop menu*/
.navbar .navbar-collapse .navbar-nav .nav-item .search{
    padding: 0px;
    left: -375%;
    border-radius: 0px;
}
.navbar .navbar-collapse .navbar-nav .form-inline{
    width: 300px;
}
.navbar .search .form-inline .form-control{
    border-radius: 0px;
    width: 72%;
    margin-left: 0px;
}
.navbar .search .form-inline .btn{
    border: 1px solid  #ced4da;
    border-radius: 2px;
    background-color: transparent;
    color: black;
}
.navbar .search .form-inline .btn:hover{
    background-color: rgb(42, 106, 208);
    color: white;
    border: none;
}



/* .navbar .nav-item .dropdown-menu{
    display: none;
    padding: 0;
    box-shadow: 5px 5px 15px grey;
    border-radius: 0;
}
.navbar .nav-item .dropdown-menu .dropdown-item{
    padding: 10px;
    color: white;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    background-color: grey;
    color: white;
    transition: all 0.5s ; 
}

 .navbar .nav-item:hover .dropdown-menu{ 
       display: block;
       background-color:  black !important;
       
 }
.navbar .nav-item .dropdown-menu{ 
       margin-top:0; 
       background-color: #101010 ;
 } */



.icon-bar a{
    display: block;
    text-align: center;
    
    padding: 12px;
    color: white;
    font-size: 18px;
}

.carousel{
    margin: auto;
}

img{
    width: 100%;
}
/*Carousel CSS*/

/* #slides .carousel-inner .carousel-item img{
    max-height: 600px;
    height: 100%;
} */
.carousel .carousel-caption{
    position: absolute;
    top: 40%;
}
.btn{
    box-shadow: 2px 2px 5px grey;
    border: 1px solid white;
}
.featured-product .carousel-inner{
    padding: 0px 150px;
}
.carousel-inner .btn-secondary:hover{
    box-shadow: 5px 5px 15px grey;
    transition: 0.5s;
    
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.slide .display-2{
    font-size: 260%;
    font-weight: bold;
}
.slide .carousel-inner .carousel-caption p{
    font-size: 180%;
    word-spacing: 9px;
}

/*Jumbotron CSS*/

 .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.row hr{
    border: 1px solid black;
    width: 5%;
    
}
.title .jumbotron .welcome .carousel-caption{
    top: 45%;

}
.title .jumbotron a:hover{
    color: black;
}
.title .jumbotron img:hover{
    box-shadow: 5px 5px 15px black;
   transition: 0.5s;
}

.title .jumbotron img{
    width: 100%;
    background: black;
}
.title .jumbotron .carousel-caption{
    height: 0px;
}


.featured-product .carousel-caption{
    top: 30%;
}

.featured-product .fa{
    font-size: 30px;
    color: rgb(129, 125, 125);
    opacity: 0.3;
}
.featured-product .fa-arrow-right{
    margin-left: 20px;
}
.featured-product .fa-arrow-left{
    margin-right: 20px;
}
.featured-product .fa:hover{
    opacity: 1;
   transition: 0.5s;
}
.featured-product .carousel-indicators{
    display: none;
}
.featured-product .carousel-caption{
    height: 0px;
}



.container-fluid .jumbotron .welcome .carousel-caption .btn{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid white;
}
/* img:hover {
    box-shadow: 5px 5px 15px black;
   transition: 0.5s;
   
} */
.jumbotron{
    background-color: white;
}
.jumbotron .welcome{
    margin: auto;
}
.jumbotron .welcome img{
    width: 100%;
}

.bold{
    font-weight: bold;
    text-shadow: 5px 5px 15px grey;
    font-size: 150%;
}
.btn-outline-secondary{
    color: white;
    border-radius: 0px;

}
.btn-outline-secondary:hover{
    color: black;
    background-color: white;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}
/*Card Body*/
.card-body{
    padding: 20px;
}
.card{
    margin-bottom: 30px;
    padding-bottom: 10px;
   
}



.card-title{
    font-size: 130%;
}

.content-2 .card-body{
    padding: 0px;
    background-color: black;
    color: white;
    
}
.content-2 .card-img-top{
    padding-bottom: 20px;
}
.content-2 .card .btn-outline-secondary{
    margin-bottom: 20px;
    background-color: transparent;
    color: white;
}
.content-2 .card .btn-outline-secondary:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}


#display-card1{
    font-size: 150%;
    font-weight: bold;
}
.card-img-top:hover{
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}
#carouselExampleFade .card-img-top{
    width: 5%;
    height: 5%;
}
#carouselExampleFade .fa{
    font-size: 30px;
    color: black;
    
}
#carouselExampleFade .card{
    border: 0px;
}

#carouselExampleFade{
    margin-top: 20px;
}
/*.......................*/
.carousel-inner .rounded-circle{
    width: 5%;
}

.cta hr{
    border: 1px solid white;
}

  /*---------Footer------------------*/
  footer{
    background-color: black;
    color: white;
    font-size: 75%;
    line-height: 17px;
}
footer .row{
    padding: 50px;
}
footer h6{
    font-weight: bold;
    font-size: 130%;
}
footer .fa-facebook-official{
    background-color: white;
}

footer .phone, .email{
    color: white;
}
footer img{
    width: 20%;
}

footer .fa{
    color: white;
    font-size: 15px;
    margin: 10px;
}
footer .fa-facebook:hover{
    color: rgb(54, 54, 175);
}
footer .fa-twitter:hover{
    color: rgb(56, 159, 190);
}
footer .fa-google:hover{
    color: rgb(175, 54, 54);
}
footer .fa-pinterest-p:hover{
    color: rgb(175, 58, 54);
}
.display-4{
    font-size: 25px;
    font-weight: bold;
}

.f-grid {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
    padding-bottom: 5px;
}

.f-grid-col {
    flex: 1 0;
    
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}
.f-grid-col img{
    width: 65%;
}



/*---------------Media Query-------------------------*/

@media (min-width: 1200.02px){

    .featured-product .btn{
        font-size: 100%;
    }


    .form-inline .form-group{
        width: 100%;
    }
    .form-inline .form-control{
        width: 100%;
    }
    footer img {
        width: 15%;
    }

}

@media (max-width: 1199.98px){
    /*---------Navbar-------------------*/
    .navbar .collapse{
        width: 100%;
    }
    .navbar img{
        width: 90%;
    }
    .navbar .nav-link{
        font-size: 68%;
    }
    .navbar-nav{
        width: 100%;
    }
    .navbar .btn-primary {
        background-color: rgb(42, 106, 208);
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 15px;
        border-radius: 0px;
        font-size: 12px;
        padding-bottom: 13px;
        padding-top: 13px;
    }
   
    /*---------------------------Titles------------------------------*/
    .title .jumbotron .btn{
        font-size: 81%;
    }


     /*------Featured Products----*/
    .featured-product img {
        width: 85%;
    }
    .featured-product .carousel-inner .col-6 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .featured-product .btn {
        font-size: 60%;
    }
    .featured-product .carousel-caption {
        top: 30%;
    }
    .featured-product p {
        font-size: 12px;
    }

    /*-----CTA--------*/
    .cta .jumbotron .btn{
        font-size: 95%;
    }

    .form-inline .form-group{
        width: 100%;
    }
    .form-inline .form-control{
        width: 100%;
    }

    footer img{
        width: 15%;
    }
    footer img {
    width: 15%;
}
}

@media (max-width: 991.98px){
    .contact-top a{
        font-size: 47%;
    }
    .phone{
        margin-right: 10px;
    }
    .navbar .nav-item .nav-link {
        padding: 6px;
    }
    .navbar .btn-primary {
        font-size: 80%;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: 15px;
        border-radius: 0px;
    }
    .slide .carousel-inner .carousel-item .carousel-caption h6{
        font-size: 35px;
    }
    .slide .carousel-inner .carousel-item .carousel-caption p{
        font-size: 20px;
    }

     /*------------------------------Titles-------------------------------*/
     .title .jumbotron .btn{
        font-size: 55%;
    }
   
   
    /*-------------------------Featured Products---------------------------*/
    .featured-product img {
        width: 95%;
    }
    .featured-product .carousel-inner {
        padding: 0px 140px;
    }
    .featured-product .carousel-caption{
        top: 25%;
    }
    .featured-product .btn {
        font-size: 60%;
    }
    .featured-product .carousel-inner .col-6 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .featured-product p {
        font-size: 10px;
    }
    
    /*-------------------------CTA----------------------------*/
    .cta .jumbotron .btn{
        font-size: 85%;
    }
    .content-2 p{
        font-size: 12px;
    }
    .content-2 .btn{
        font-size: 90%;
    }
    /*--------Footer-----------*/
    footer h6{
        font-size: 110%;
    }
    footer p{
        font-size: 80%;
    }
    
    footer img{
        width: 14%;
    }
    .form-inline .form-group{
        width: 100%;
    }
    .form-inline .form-control{
        width: 100%;
    }
}
@media (max-width: 767.98px){
    .contact-top a{
        font-size: 50%;
    }
    .slide .carousel-inner .carousel-item .carousel-caption h6{
        font-size: 30px;
    }
    .slide .carousel-inner .carousel-item .carousel-caption p{
        font-size: 15px;
    }

      /*-----Titles-------*/
      .title .jumbotron .btn{
        font-size: 95%;
    }
      .title .jumbotron img{
          width: 75%;
    }
    .title .jumbotron h4 {
        font-size: 170%;
    }
    .title .jumbotron p {
        font-size: 80%;
    }

     /*------Featured Products----*/
    .featured-product img {
        width: 75%;
    }
    .featured-product .carousel-caption{
        top: 25%;
    }
    .featured-product .btn{
        font-size: 10%;
    }
    .featured-product .fa{
        font-size: 75%;
    }
    .featured-product p {
        font-size: 12px;
    }
    .featured-product h4 {
        font-size: 170%;
    }
    .featured-product .carousel-inner .col-6 {
        padding-left: 0px;
        padding-right: 0px;
    }
     /*-------------------------CTA----------------------------*/
     .cta .jumbotron .btn{
        font-size: 85%;
    }
    .cta .jumbotron .bold{
        font-size: 130%;
    }
    .cta .jumbotron .content{
        font-size: 90%;
    }
    /*-------------------title-2----------------*/
   .title-2 .row h4{
    font-size: 150%;
   }
   .title-2 .row p{
    font-size: 85%;
   }
  
   
   .content-2 .row h4{
       font-size: 120%;
   }
   .content-2 .row p{
    font-size: 85%;
    }
    .content-2 .row .btn{
        font-size: 90%;
       }
   /*--------------testimonials-----------------*/
   .testimonials h4{
        font-size: 150%;   
   }
   #carouselExampleFade .carousel-inner p{
    font-size: 85%;
   }
   /*-------------Feature Brand------------*/
   .feature-brand .jumbotron h4{
    font-size: 150%;
    }
    .feature-brand .jumbotron p{
        font-size: 85%;

    }
    /*---------Footer------------*/
    footer img{
        width: 15%;
    }
    footer h6, p{
        text-align: center;
    }
    .form-inline .form-group{
        width: 100%;
    }
    .form-inline .form-control{
        width: 100%;
    }
}
@media (max-width: 575.98px){
    
    .container-fluid .f-grid .f-grid-col {
        line-height: 5px;
    }
    

    .contact-top a{
        font-size: 38%;
    }

      /*---------Navbar-------------------*/
    .navbar img{
        width: 30%;
    }
    .navbar-toggler{
        font-size: 10px;
    }
    .navbar-brand {
        margin-right: 0rem;
        font-size: 1.25rem;
        width: 60%;
    }
    .navbar .btn-primary{
        font-size: 25%;
        padding: 8px 6px;
    }
    .slide .carousel-inner .carousel-item .carousel-caption h6{
        font-size: 20px;
    }
    .slide .carousel-inner .carousel-item .carousel-caption p{
        font-size: 10px;
    }
    
     /*---------------------------Titles-----------------*/
     .title .jumbotron .btn{
        font-size: 45%;
    }
    .title .jumbotron h4 {
        font-size: 150%;
    }
    .title .jumbotron img {
        width: 75%;
    }

     /*------Featured Products----*/
    .featured-product img {
        width: 75%;
    }
    .featured-product .carousel-caption{
        top: 28%;
    }
    .featured-product .btn {
        font-size: 70%;
    }
    .featured-product h4 {
        font-size: 150%;
    }
    .featured-product p {
        font-size: 10px;
    }
    .featured-product .carousel-inner .col-6 {
        padding-left: 0px;
        padding-right: 0px;
    }
     /*-------------------------CTA----------------------------*/
     .cta .jumbotron .btn{
        font-size: 65%;
    }
    .cta .jumbotron .bold{
        font-size: 85%;
    }
    .cta .jumbotron .content{
        font-size: 70%;
    }
   /*-------------------Title-2----------------*/
   .title-2 .row h4{
    font-size: 150%;
   }
   .title-2 .row p{
    font-size: 85%;
   }
   
   .content-2 .row h4{
       font-size: 120%;
   }
   .content-2 .row p{
    font-size: 85%;
    }
    .content-2 .row .btn{
        font-size: 75%;
       }
    /*-------------Feature Brand------------*/
    .feature-brand .jumbotron h4{
        font-size: 150%;
    }
    .feature-brand .jumbotron p{
        font-size: 85%;
    }
    .form-inline .form-control {
        width: 100%;
    }
    .form-inline img {
        font-size: 100%;
    }
    .form-inline{
        width: 100%;
    }
    .form-inline .form-group{
        width: 100%;
    }
    footer .fa{
        margin: 10px 0px;
        width: 12%;
    }
    footer img{
        width: 10%;
    }
}


/*-----------------------------------------------------------------------*/
