.container-fluild {
	overflow:hidden;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.top-bar {
	padding: 0 30px;
	margin-bottom: -30px;
}

.contact {
	display: inline-block;
}

.contact .phone {
	display: inline;
}

.contact a {
	text-decoration: none;
	color: black;
}

.contact a:hover {
	text-decoration: underline;
}

.contact .phone i {
	padding: 0 0 20px 0;
}

.contact .email {
	display: inline;
}

.contact .email span {
	margin-left: 10px;
	margin: 0;
}

.contact .email i {
	margin-left: 20px;
	padding-top: 0px;
}

.top-bar__sale {
	margin: 0;
	padding: 0;
}

.top-bar__sale span {
	color: red;
}

.top-bar__log {
	display: flex;
	justify-content: flex-end;
}

.top-bar__log a {
	text-decoration: none;
	color: black;
}

.top-bar__log a:hover {
	text-decoration: underline;
}

.top-bar__log .login {
	padding-right: 20px;
}

.menu_bar {
	padding: 0;
}

.menu_bar .fix-mg {
	margin-right: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav {
	background: #212121;
	color: white;
	margin: 0 auto;
}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.menu_bar__menu {
	padding: 0;
}

.menu_bar__menu nav {
	padding: 0;
}

.nav-item {
	font-size: 14px;
	padding: 0;
}

.nav-item.nav-link{
	transform: scale(1);
	transition: 0.5s;
	display: block;
}

.nav-item .nav-link.hide-item {
	transform: scale(0);
}

.search-form {
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translateX(0);
	width: 600px;
	height: 44px;
	opacity: 0;
	transition: 0.5s;
	visibility: hidden;
}

.search-form input {
	width: 100%;
	height: 44px;
	background:transparent;
	color: #fff;
	border: none;
	outline: none;
	font-size: 16px;
}

.search-form.active {
	opacity: 1;
	visibility: visible;
	transition-delay: 0.5s;
	transform: translateX(-50%);
}

.search-form:before {
	content:'\f3eb';
	position: absolute;
	top: 10px;
	left: -26px;
	font-size: 18px;
	color: #fff;
	font-family: "Font Awesome 5 Brands";
}

.search-form input::placeholder {
	color: #fff;
}

.close {
	position: absolute;
	right:12%;
	top: 14%;
	height: 44px;
	background: #000;
	color: #fff;
	line-height: 44px;
	font-size: 18px;
	text-align: right;
	width: 20px;
	cursor: pointer;
	visibility: hidden;
}

.close.active {
	opacity: 1;
	visibility: visible;
	background: none;
}

.nav-link {
	color: #fff;
	padding: 20px;
	font-weight: 400;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
	background: #2a6ad0;
	transition: 0.5s;
}

.nav-item i {
	color: #d3d3d3;
	font-size: 15px;
}

.button {
	padding: 0;
	margin:  0 auto;
}

.become {
	background: #2a6ad0;
	color:#ffffff;
	font-weight: bold;
	border: none;
	padding: 17px 15px 17px 18px;
	font-weight: 450;
}

.become:hover {
	color: white;
	font-weight: bold;
	cursor: default;
}

.become span {
	font-size: 15px;
}

.become p {
	margin-top: 15px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	height: 37px;
	font-weight: 450;
}

.carousel-inner > .carousel-item > img {
	width: 100%;
	height:570px;
}

.carousel-inner {
	position: relative;
	text-transform: uppercase;
	color: white;
}

.carousel-item.carousel-item .slide_content {
	position: absolute;
	display: inline-block;
	text-align: center;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.carousel-inner .slide_content h2 {
	font-size: 30px;
	font-weight: bold;
}

.carousel-inner .slide_content p {
	font-size: 20px;
	font-weight: 300;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin: 10px;
}

.tiles {
	margin: 20px 10px;
}

.tiles__content {
	padding: 10px 50px;
	text-align: center;
}

.tiles__content hr {
	border: 2px solid black;
	background: black;
	width: 6%;
	margin:auto;
}
.tiles__content p {
	margin-top: 20px;
}

.tiles__img .box {
	width: 100%;
	position: relative;
}

.tiles__img .box img {
	width: 100%;
	-webkit-filter: brightness(0.5);
}

.tiles__img .box img:hover {
	-webkit-filter: brightness(1); 
}

.tiles .tiles__img .box .btn {
	position: absolute;
	top:50%;
	height: 50px;
	left: 50%;
	padding: 10px;
	color: white;
	border: 2px solid white;
	background: none;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.tiles .tiles__img .box .btn:hover {
	background: white;
	color: black;
	-webkit-filter: brightness(1);
	transition: 0.5s;
}
/*End Tiles CSS*/
.feature_product {
	background-color: #fbfbfb;
}

.feature_product__content {
	padding: 20px 50px;
	text-align: center;
}

.feature_product__content hr {
	width: 5%;
	border: 2px solid black;
	background: black;
	margin:0 auto;
}

.hover:hover .view {
	visibility: visible;
	cursor: default;
}

.hover:hover > .view:hover {
	background: white;
	color: black;
}

.feature_product__img {
	position: relative;
}

.carousel-item {
	margin: 0;
}

.carousel_product {
	margin-left: 20px;
}

.hover .view {
	visibility: hidden;
	width: 150px;
	border: 2px solid #ffffff;
	background: none;
	color: #fff;
	text-align: center;
	padding: 10px 15px 10px 15px;
	top: 42%;
	left: 20%;
	z-index: 1;
}

.hover:hover .view {
	visibility: visible;
	cursor: default;
}

.thumb-wrapper {
	position: relative;
}

.thumb-wrapper img {
	width: 100%;
}

.thumb-wrapper button {
	position: absolute;
	top: 0%;
	left: 0%;
	border: hidden;
	width: 100%;
	height: 88%;
	background: none;
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	cursor: default;
}

.title-featured-product h4 {
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	color: #212121;
	padding-top: 20px;
}

.feature_product img {
	max-width: 100%;
}

.mr {
	margin: 0 auto;
	width: 90%;
}

.pre_pro {
	left: -6%;
	color :#a4a4a4;
	width: 6%;
}


.next_pro {
	position: absolute;
	right: -5%;
	top: -20%;
}

.pre_pro i, .next_pro i{
	padding: 7px 10px 7px 10px;
	border: 2px solid #a4a4a4;
	border-radius: 55%;
}

.thumb-wrapper p {
	font-size: 13px;
	color: #212121;
	margin-top: 15px;
	font-weight: 500;
	text-align: center;
}
/*Start CSS CTA*/
.cta {
	padding: 20px 20px;
	margin: 20px 0px;
	position: relative;
}

.cta1 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/layout_cta.png) no-repeat;
}

.cta2 {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/layout_cta2.png) no-repeat;
}

.cta__content {
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
}

.cta__content hr {
	border: 2px solid white;
	width: 6%;
	background: white;
	margin:auto;
}

.cta__content p {
	padding-top: 20px;
}

.cta__content h5 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

.cta__content a {
	top:50%;
	height: 50px;
	left: 50%;
	padding: 10px 30px;
	color: white;
	border: 3px solid white;
	background: none;
	text-transform: uppercase;
}

.cta__content a:hover {
	background: white;
	border: 3px solid white;
	color: black;
}
/*End CSS CTA*/
.tiles__img2 img {
	width: 100%;
}
/*Start CSS Tiles 2*/
.quality-content,.flooring-content{
	padding: 20px;
	background-color: #212121;
	color: white;
	text-align: center;
}

.quality-content a,.flooring-content a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

.quality-content p, .flooring-content p {
	font-size: 13px;
}

.quality-content .btn-explore, .flooring-content .btn-explore {
	top:50%;
	height: 50px;
	padding: 10px 30px;
	color: white;
	border: 2px solid white;
	background: none;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.quality-content .btn-explore:hover, .flooring-content .btn-explore:hover{
	background: white;
	color: black;
}
/*End CSS Tiles 2*/
/*Start CSS Testimonials*/

.testimonials__content h5 {
	text-transform: uppercase;
	text-align: center;
}

.testimonials__content hr {
	width: 6%;
	margin: 0 auto;
	border: 2px solid black;
	background: black;
}

.w3-content {
	background-color: #fbfbfb;
	text-align: center;
	padding: 20px;
	margin: 20px;
}

.w3-content .avatar {
	text-align: center;
}

.w3-content .information p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
}
.w3-content .information span {
	font-weight: 100;
	font-size: 13px;
}

.w3-content .information h6 {
	margin-bottom: 0;
}

.w3-left {
	position: absolute;
	top: 50%;
	left: 10%;
}

.w3-right {
	position: absolute;
	top: 50%;
	right: -5%;
}

.w3-left,
.w3-right {
	border: none;
	color: #c2d1d9;
	width: 30px;
	height: 30px;
	font-size: 30px;
}

.pd .pre-left p {
	position: absolute;
	top: 50%;
	left: 30%;
	font-size: 15px;
	margin: 0;
}

.pd .pre-left h6 {
	position: absolute;
	top: 60%;
	left: 30%;
	font-size: 14px;
	margin: 0;
	color: #b5bfc6;
}

.pd .pre-right p {
	position: absolute;
	top: 50%;
	left: 35%;
	font-size: 15px;
	margin: 0;
}

.pd .pre-right h6 {
	position: absolute;
	top: 60%;
	left: 35%;
	font-size: 15px;
	margin: 0;
	color: #b5bfc6;
}

.pd {
	position: relative;
}

.testimonials_content_two p {
	position: absolute;
	top: 50%;
	left: 7%;
	font-size: 15px;
}

.testimonials_content_two h6 {
	position: absolute;
	top: 53%;
	left: 28%;
	font-size: 14px;
}
/*End CSS Testimonials*/
/*Start Featured Brands*/
.feature_brand {
	margin: 20px 10px;
}

.feature_brand__content {
	padding: 10px 50px;
	text-align: center;
}

.feature_brand__content h5 {
	text-transform: uppercase;
}

.feature_brand__content hr {
	border: 2px solid black;
	background: black;
	width: 6%;
	margin:auto;
}

.feature_brand__content p {
	padding-top: 20px;
}

.feature_brand__brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.carousel-control-prev , .carousel-control-prev {
	width: 5%;
}

.carousel-control-prev{
	position: absolute;
	top: -8%;
	left: -5%;
	color: #a4a4a4;
}

.carousel-control-next {
	position: absolute;
	top: -8%;
	right: -6%;
	color: #a4a4a4;
	width: 5%;
}

.carousel-control-prev i, .carousel-control-next i {
	padding: 7px 10px 7px 10px;
	border: 2px solid #a4a4a4;
	border-radius: 55%;
}
/*Start CSS Footer*/
.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #212121;
}

.footer__title {
	margin-bottom: 20px;
}

.footer__title a {
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
}

.footer__title a:hover {
	cursor: default;
	color: red;
	font-weight: bold;
}

.footer a {
	text-decoration: none;
	color: #ffffff;
}

.list-group ul {
	padding-left: 0px;
	margin-top: 0px;
}

.list-group li {
	list-style: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 7px;
}

.list-group li a {
	font-size: 14px;
}

.mail-to {
	display: block;
}

.list-group a:hover {
	color: red;
}

.list-group .icon-location p {
	display: inline;
	font-size: 14px;
}

.icon-location,
.icon-mail,
.icon-phone {
	display: flex;
}

.icon-location i,
.icon-mail i,
.icon-phone i {
	margin-right: 10px;
	margin-top: 5px;
}

.title-newsletter {
	font-size: 16px;
	font-weight: 100;
	color: #ffffff;
	padding-top: 36px;
	margin-bottom: 35px;
}

.title-newsletter:hover {
	cursor: default;
	color: red;
	font-weight: bold;
}

.email-contact-form {
	position: relative;
}

.email-contact-form input {
	width: 100%;
	background-color: #f6f6f6;
	height: 40px;
	border: none;
	padding-left: 20px;
	font-size: 14px;
}

.email-contact-form i {
	position: absolute;
	top: 25%;
	left: 91%;
	color: #b4b4b4;
}

.icon-social {
	width: 100%;
}

.icon-social i {
	list-style: none;
	display: inline-block;
	width: 15%;
	color: white;
	margin-top: 25px;
}

.fa-facebook-f:hover {
	color: #4267b2;
}

.fa-google:hover {
	color: #EA4335;
}

.fa-twitter:hover {
	color: #1DA1F2;
}

.fa-pinterest-p:hover {
	color: #e60023;
}

.payment img {
	margin-top: 30px;
}
/*End CSS Footer*/
@media screen and (max-width: 576px) {
	.top-bar {
		display: none;
	}
	
	.none {
 		display: none;
	}
	 
	.block-location-one {
		position: relative;
	}
	
	.logo img {
	width: 50%;
	float: left;
	}

	.navbar-toggler {
		position: absolute;
		right: 20px;
		top: -42px;
		font-size: 13px;
	}

	.nav-bar {
		margin-top: 0;
	} 

	.navbar-nav {
		background: #fff;
		padding: 0 30px;
	}

	.menu_bar {
		margin-top: 0;	
	}

	.menu_bar nav {
		padding-top: 0;
		padding-bottom: 0;
	}

	.menu_bar__menu {
	margin-bottom: 0;
	} 

	.carousel-inner > .carousel-item > img{
		height: 40%;
	}

	.hr_top-bar {
		display: none;
	}
	
	.navbar {
		background: none;
		margin-top: 0;	
	}

	.navbar-light .navbar-nav .nav-link {
		color: black;
		font-weight: 450;
		padding: 10px;	
	}

	.nav-item {
		padding-left: 0;
		margin: 0;
	}

	.become {
		display: none;
	}
	
	.carousel-inner .slide_content h2 {
		font-size: 16px;
		font-weight: bold;
	}

	.carousel-inner .slide_content p {
		font-size: 14px;
	}

	.tiles .box1 img {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.tiles__img .box img {
		margin-bottom: 15px;
	}

	.tiles__img2 .flooring {
		padding-left: 0px;
		padding-right: 0px;
	}

	.tiles__content h5 {
		font-size: 16px;
	}

	.tiles__content p{
		font-size: 14px;
	}

	.feature_product__content h5{
		font-size: 16px;
	}

	.feature_product__content p{
		font-size: 14px;
	}

	.carousel-control-prev {
		left: 2%;
	}

	.carousel-control-next {
		right: 0%;
	}

	.flooring-content h5{
		font-size: 16px;
	}

	.flooring-content p {
		font-size: 14px;
	}

	.quality-content h5 {
		font-size: 16px;
	}

	.quality-content p {
		font-size: 14px;
	}

	.cta__content h5 {
		font-size: 16px;
	}

	.cta__content p {
		font-size: 14px;
	}

	.cta2 {
		margin-left: 10px;
		margin-right: 10px;
	}

	.testimonials .row {
		margin-right: 0px;
		padding-right: 0px;
		margin-left: 0px;
		padding-left: 0px;
	}

	.testimonials__content {
		text-align: center;
	}

	.testimonials__content h5 {
		font-size: 16px;
	}

	.w3-content .information p{
		font-size: 14px;
	}
	
	.w3-content .information h6{
		font-size: 16px;
	}

	.testimonials_slide {
		margin-top: 10px;
		width: 100%;
		background-color: #fbfbfb;
		text-align: center;
	}

	.pd {
		display: none;
	}

	.footer_contact h5 {
		font-size: 16px;
	}

	.list-group a {
		font-size: 12px;
	}

	.list-group .icon-location p {
		font-size: 12px;
	}

	.mail-to a {
		font-size: 12px;
	}

	.feature_brand__content h5 {
		font-size: 16px;
	}

	.feature_brand__content p {
		font-size: 14px;
	}

	.feature_brand__brand {
		text-align: center;
	}
	
	.quality {
		padding-left: 0;
		padding-right: 0;
	}

	.d-flex {
		display: flex;
		margin-left: 25px;
	}

	.d-flex img {
		display: flex;
		width: 70%;
	}

	.icon-social {
		text-align: center;
	}

	.payment {
		text-align: center;
	}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
	.top-bar {
		display: none;
	}

	.none {
		display: none;
	}

	.hr_top-bar {
		display: none;
	}

	.block-location-one {
		position: relative;
	}
	
	.become {
		display: none;
	}
	
	.logo img {
	width: 35%;
	float: left;
	}

	.navbar-toggler {
		position: absolute;
		right: 30px;
		top: -59px;
		font-size: 13px;
	}

	.nav-bar {
		margin-top: 0;
	}

	.navbar-nav {
		background: #fff;
		padding: 0 30px;
		color: black;
		font-weight: bold;
	}

	.navbar-light .navbar-nav .nav-link {
		color: black;
		font-weight: 450;
	}

	.carousel-inner > .carousel-item > img{
		height: 50%;
	}

	.slide_content h2 {
		font-size: 17px;
	}

	.slide_content p {
		font-size: 15px;
	}

	.tiles__content h5 {
		font-size: 17px;
	}

	.tiles__content p {
		font-size: 15px;
	}

	.feature_product__content h5 {
		font-size: 17px;
	}

	.thumb-wrapper .img-box p {
		font-size: 15px;
	}

	.cta__content h5 {
		font-size: 17px;
	}

	.cta__content p {
		font-size: 15px;
	}

	.cta__content a {
		font-size: 15px;
	}

	.quality a, .flooring a {
		font-size: 17px;
	}

	.quality-content p, .flooring-content p {
		font-size: 15px;
	}

	.quality-content .btn-explore, .flooring-content .btn-explore {
		font-size: 15px;
	}

	.testimonials__content h5 {
		font-size: 17px;
	}

	.information p {
		font-size: 15px;
	}

	.information h6 {
		font-size: 17px;
	}

	.information .none {
		display: none;
	}

	.pd .pre-right h6 {
		font-size: 14px;
		left: 20%;
	}

	.pd .pre-right p {
		left: 15%;
	}

	.w3-right {
		right: -25%;
	}

	.fix-pd {
		padding-left: 0;
		padding-right: 0;
	}

	.cta__content h6 {
		font-size: 17px;
	}

	.cta__content p {
		font-size: 15px;
	}

	.cta__content a {
		font-size: 15px;
	}

	.feature_brand__content h5 {
		font-size: 17px;
	}

	.feature_brand__content p {
		font-size: 15px;
	}

	.feature_brand__brand img{
		width: 100%;
	}

	.tiles .tiles__img .box .btn {
		font-size: 13px;
	}

	.carousel-control-next {
		right: -1%;
	}

	.carousel-control-prev {
		left: -1%;
	}

	.footer__title h5 {
		font-size: 17px;
	}

	.footer__title p, .footer__title li, .footer__title a {
		font-size: 15px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.top-bar {
		font-size: 17px;
	}

	.contact .phone a {
		display: none;
	}
	
	.logo img {
		max-width: 35%;
		float: left;
	}

	.navbar-toggler {
		position: absolute;
		right: 30px;
		top: -59px;
		font-size: 13px;
	}

	.nav-bar {
		margin-top: 0;
		background: #fff;
	}

	.nav-link {
		color: black;
		font-weight: 450;	
	}
	
	.nav-item{
		padding-left: 0;
		margin: 0;
	}

	.logo {
		text-align: center;
	}

	.become {
		display: none;
	}

	.navbar-light .navbar-nav .nav-link {
		color: black;
		background: #fff;
		padding: 5px 30px;
	}
		
	.contact .phone a, .contact .email a {
		display: none;
	}
	
	.block-location-one {
	position: relative;
	}
	
	.logo {
		text-align: center;
	}
	
	.menu_bar img {
		max-width: 100%;
	}
	
	.carousel-inner .slide_content {
		top: 48%;
		left: 16%;
	}
	
	.btn-primary {
		width: 90%;
		font-size: 13px;
	}
	/*feature brand*/
	.feature_brand__brand {
		display: flex;
	}

	.feature_brand__brand {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.feature_brand__brand img {
		width: 50%;
	}

	.feature_brand__brand .armstrong{
		margin-left: 40px;
	}

	.tiles .tiles__img .box .btn {
		font-size: 13px;
	}

	.cta h5 {
		font-size: 14px;
	}

	.cta p {
		font-size: 13px;
	}
	
	.btn-cta a {
		font-size: 14px;
	}

	.fix-mg-tile {
		padding-right: 0;
		padding-left: 0;
	}

	.carousel-control-prev {
		left: -2%;
		top: -35%;
	}

	.carousel-control-next {
		right: -2%;
		top: -35%;
	}

	.d-flex {
		display: flex;
		margin-left: 25px;		
	}

	.d-flex img {
		display: flex;
		width: 70%;
	}

	.icon-social {
		text-align: center;
	}

	.payment {
		text-align: center;
	}

	.none-tablet {
		display: none;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.logo img {
		width: 100%;
	}

	.menu_bar__menu {
		margin-bottom: 0px;
	}
	
	.navbar {
		padding:0;
	}
	
	.navbar-light .navbar-nav .nav-link {
		color: #fff;
		font-size: 11px;
	}

	.fix-mg {
		margin-bottom: 15px;
	}

	.carousel-item.carousel-item .slide_content h2 {
		font-size: 30px;
	}

	.carousel-control-prev {
		left: -2%;
		top: -10%;
	}

	.carousel-control-next {
		right: -2%;
		top: -10%;
	}

	.tiles .tiles__img .box .btn {
		top: 50%;
		left: 50%;
		font-size: 12px;
	}

	.nav-item {
		font-size: 9px;
	}
	
}
